<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/template/css/bootstrap.css" rel="stylesheet" />
    <link href="~/template/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/template/css/style.css" rel="stylesheet" />

    <script src="~/template/js/jquery/jquery-3.1.1.min.js"></script>
</head>
<body class="gray-bg">
    @RenderBody()
</body>
</html>
