<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/template/css/bootstrap.css" rel="stylesheet" />
    <link href="~/template/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/template/css/animate.css" rel="stylesheet" />
    <link href="~/template/css/style.css" rel="stylesheet" />
    <link href="~/template/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/template/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/template/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />

    <script src="~/template/js/jquery/jquery-3.1.1.min.js"></script>
    <script src="~/template/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/template/js/bootstrap/bootstrap.js"></script>

    <script src="~/template/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/template/js/plugins/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/template/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/template/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/template/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/template/js/script.js"></script>
    <script src="~/js/custom.js"></script>

</head>
<body>
    <div id="wrapper" class="@Html.PageClass()">

        <partial name="/Views/Structure/_Navigation.cshtml" />

        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <partial name="/Views/Structure/_TopNavbar.cshtml" />

            @RenderBody()

            <partial name="/Views/Structure/_Footer.cshtml" />
        </div>
        
    </div>
</body>
</html>
