@{
    EntityLayer.Administrator a = (EntityLayer.Administrator)ViewData["admin"];
}
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Bienvenido @a.Name @a.LastName</span>
            </li>
            <li>
                <a asp-controller="Authentication" asp-action="LogOut">
                    <i class="fa fa-sign-out"></i> Cerrar Sesión
                </a>
            </li>
        </ul>
    </nav>
</div>